// NAVBAR STYLING HERE

$navbar-height: 140px;
$mobile-navbar-height: 330px;
$offwhite: #f2f2f2;
$black: #333333;
$white: #ffffff;

@mixin iphone {
  @media screen and (max-width: 700px) {
    @content;
  }
}

.navbar-down {
  top: 0 !important;
  transition: all .2s ease-in-out;
}
.navbar {
  position: absolute;
  top: -45px;
  left: 0;
  width: 100%;
  height: $navbar-height;
  background: $offwhite;
  text-align: center;
  z-index: 10000;
  transition: all .2s ease-in-out;

  @include iphone {
    height: $mobile-navbar-height;
    top: -225px;
  }

  .hidden-menu {
    background: white;
    padding: 10px 0;
    a {
      text-decoration: none;
      color: rgba($black, 0.5);
      font-size: 16px;
      margin: 0 10px;
      transition: all .2s ease-in-out;

      @include iphone {
        display: block;
        margin: 15px 10px;
      }

      &:hover {
        color: $black;
        transition: all .2s ease-in-out;
      }
    }
  }

  .navbtn {
    height: 14px;
    width: 20px;
    margin: 20px auto;
    position: relative;

    span {
      position: absolute;
      left: 0;
      height: 2px;
      width: 100%;
      background: $black;
      transition: all .2s ease-in-out;

      &:first-child {
        top: 0;
      }
      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }
      &:last-child {
        bottom: 0;
      }
    }

    &:hover {
      cursor: pointer;
      span {
        background: rgba($black, 0.7);
        transition: all .2s ease-in-out;
      }
    }
  }

}
.space-under {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: $navbar-height;
}

// FOOTER STYLING HERE
// $offwhite: #f2f2f2;
// $black: #333333;
// $white: #ffffff;

.footer {
  height: 60px;
  background: $offwhite;
  text-align: center;

  .legal {
    color: rgba($black, 0.5);
    margin: 0;
    padding: 10px;

    p {
      padding: 0;
      margin: 0;
    }
  }
}
