
<div class='wrapper'>
  <% @rippples.each do |r| %>
    <div class='rippple-container'>
      <h2><%= r.title %></h2>
      <em><%= r.created_at.strftime('%b %d, %Y') %></em>
      <!-- add auth here -->
      <div class='admin-tools'>
        <%= link_to edit_rippple_path(r) do %>
          <i class='fa fa-pencil'></i>
        <% end %>
        <%= link_to r, :method => :delete do %>
          <i class='fa fa-trash'></i>
        <% end %>
        
      </div>
    </div>
  <% end %>
</div>
