<div class="col-sm-11 col-xs-12 blog-content">
  <h2 class="text-center"><%= @rippple.title %></h2>
  <h5 class="text-center"><%= @rippple.created_at.strftime('%b %d, %Y') %></h5>
  <div><%= raw @rippple.body %></div>
</div>
